MYSQL_HOST=testphpmyadmin.gainr.in
MYSQL_PORT=3306
MYSQL_DATABASE=hvkbynbu_wwwdevsl_slowr_test
MYSQL_USER=
MYSQL_PASSWORD=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=rag_ht
POSTGRES_USER=
POSTGRES_PASSWORD=
